{% extends "./base.html" %}
{% block content %}
{% load static %}
<form method = "GET" id="frm_list" >
      
   <table>
   <tr>
      <td>
          <label>Name </label>
      </td>
      
      <td>
          <input type="text" name="name">
      </td>
      
   </tr>
   <tr>
      <td>
          <label>Age </label>
      </td>
      <td>
          <input type="text" name="age">
      </td>
      
   </tr>
   <tr>
      <td>
          <label>Country </label>
      </td>
      <td>
      
        <select name="country" id="country" >
         <option value="">Select</option>
         {% for item in country%}
            <option value="{{item.id}}">{{item.name}}</option>
         {%endfor%}
         </select> 
         <!-- <select name="country" id ="country"  >
            <option value="">Select</option>
            <option value="india">India</option>
            <option value="america">America</option>
            <option value="china">China</option>
            <option value="uk">UK</option>
         
         </select>  -->
      </td>
      
   </tr>
   <tr>
      <td>
          <label>State </label>
      </td>
      
      <td>
         <select name="state" id ="state">
         
         </select>
         
      </td>
      
   </tr>
   <tr>
      <td>
          <label>City </label>
      </td>
      
      <td>
         <select name="city" id ="city">
         
         </select>
         
      </td>
      
   </tr>
   <tr>
      
      <td>
          <button type="button" name="submit" onclick="clicked()">Submit</button>
      </td>
      
   </tr>
   </table>


</form>
{%endblock%}

<!--to define $-->
{% block javascript %}
<script >

   function clicked(){
      alert("hiiii")
   }

  $("#country").change(function(){
      var country_name = $("#country").children("option:selected").text();
      var country_id= $("#country").children("option:selected").val();
      //alert( $("#country option:selected").val() );
     
      $.ajax({
         
         
         url :"{% url 'load_states' %}",
         data : {
            'country' : country_id,
         },
         type : "GET",
         success : function(data){
           
            var ret=data['states'];
            $('#state').empty()
            console.log(ret)
            $.each(ret,function(key,value){
               
               $('#state').append($('<option>', {
                        value: value['id'],
                        text: value['name'],
                    }, '</option>'));

                //$("#state").append($('<option> ',{text:value, }, '</option>'));

            });
         },
         error: function(req, err){ console.log('message : ' + err); 
      alert("eror")},
      });
   });  


   $("#state").change(function (){
      var state_id = $("#state").children("option:selected").val();
      var state_name = $("#state").children("option:selected").text();
      // alert(state_name);

      $.ajax({
         url : "{% url 'load_cities' %}",
         data : {
            'state_id' : state_id ,
         },
         
         success : function(data){

            var ret_data = data['cities'];
            console.log(ret_data)
            $('#city').empty()
            $.each(ret_data,function(key,value){
               
               $('#city').append($('<option>', {
                        value: value['id'],
                        text: value['name'],
                    }, '</option>'));

                //$("#state").append($('<option> ',{text:value, }, '</option>'));

            });
         
         },

      })

   });

  
</script>

{%endblock%}

