
{% extends "./base.html" %}
{% block content %}
{% load static %}
{% block xtra_css %}
 <link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">
{% endblock  %}

<form method="POST"  enctype="multipart/form-data" id="frm_upload">
    <input type="hidden" name="hidden_export">
    {% csrf_token %} 
    Upload Photo<input type="file" name="myphoto"><button type="button" id="btn_photo_upload_id" name="btn_photo_upload"  onclick="uploading()" data-toggle="modal" data-target="#PhotoUploadPopup">Upload</button>
    <!--data-toggle="modal" data-target="#FileUploadPopup"--> 
</form>

{% endblock %}




{% block javascript %}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/cropper.min.js' %}"></script>

    <script>
        function uploading(){
            alert("Hellooo")
        }
    </script>
{% endblock %}

