/* common */
body {
   font-size: 15px;
   color: #5a5d62;
   background: #ffef49;}
@media (max-width: 767px) {
body {
   font-size: 13px;}
}

::-moz-selection { background: #1987A4; color: #fff; }
::selection { background: #1987A4; color: #fff;}


/* placeholder */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     color: #6d6a6a;
     font-weight: normal;}
::-moz-placeholder { /* Firefox 19+ */
     color: #6d6a6a;
     font-weight: normal;}
:-ms-input-placeholder { /* IE 10+ */
     color: #6d6a6a;
     font-weight: normal;}
:-moz-placeholder { /* Firefox 18- */
     color: #6d6a6a;
     font-weight: normal;} 

/* number icon remove */	 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;}	
	
/* autofill */
@-webkit-keyframes autofill {
    to {
        color: #00051b;
        background: transparent;}
}
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;}
    
   

/* d-initial */
.d-initial {
  display: initial;}



/* pre-loader */
.pre-loader {
	position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #1314143d;}
.pre-loader div {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-top: -50px; 
	margin-left: -50px;
  animation: rotation 1s infinite linear;
  border: 5px solid #ffffff85;
  border-radius: 50%;
  border-top-color: #2b2b29;}
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}


/* fixed-loader */
.fixed-loader {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-top: -50px; 
  margin-left: -50px;
  text-align: center;}
.fixed-loader div {
  width: 50px;
  height: 50px;
  display: inline-block;
  animation: rotation 1s infinite linear;
  border: 5px solid #ffffff85;
  border-radius: 50%;
  border-top-color: #2b2b29;}
.fixed-loader span {
  font-size: 16px;
  letter-spacing: 3px;}
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}


/* button */
button,
.a-btn {
  border: 1px solid #2b2b29;
  letter-spacing: 2px;
  color: #2b2b29;
  border-radius: 2px;
  font-size: 15px;
  padding: 12px 20px;
  white-space: nowrap;
  line-height: normal;
  background: transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;}
button:hover,
button:focus,
.a-btn:hover,
.a-btn:focus {
    outline: none;
    background: #2b2b29;
    color: #fff;}
.a-btn {
    display: inline-block;}
.a-btn:hover,
.a-btn:focus {
    text-decoration: none;}


  
/* wrapper */   
.wrapper {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;}
@media (min-width: 1200px) {
.wrapper {
    max-width: 2500px;
	  padding: 0 100px;}
}
@media (max-width: 1199px) {
.wrapper {
	padding: 0 70px;}
}  
@media (max-width: 991px) {
.wrapper {
	padding: 0 50px;}
} 
@media (max-width: 767px) {
.wrapper {
	padding: 0 25px;}
} 





/* header */
header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 180px;
  background: #2b2b29;
  padding-left: 50px;
  padding-right: 50px;
 /**/
  opacity: 1;
  transition: height 0ms 0ms, opacity 600ms 0ms;}
body.specific_scroll:not(.up_scroll) header {
  height: 0;
  opacity: 0;
  z-index: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;}
@media (min-width: 992px) {
header {
  text-align: center;}
}
@media (max-width: 1199px) {
header {
  padding-left: 0;
  padding-right: 0;}
}
@media (max-width: 991px) {
header {
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;}
}


/* toggle-btn */
@media (min-width: 992px) {
.toggle-btn {
  display: none}
}
@media (max-width: 991px) {
.toggle-btn {
  background: transparent;
  min-width: auto;
  box-shadow: none;
  border-radius: 0;
  border: none;
  width: 35px;
  height: 25px;
  position: fixed;
  right: 30px;
  top: 18px;
  padding: 0;}
.toggle-btn:focus,
.toggle-btn:hover {
  outline: none;
  background: transparent;}
.toggle-btn span {
  background-color: #777373;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  transition: all .3s ease-in-out;}
.toggle-btn:not(.toggle_btn_on) span:first-child {
  transform: translate3d(0, -4px, 0);
  top: 5px;}
.toggle-btn:not(.toggle_btn_on) span:nth-child(2) {
  top: 11px;}
.toggle-btn:not(.toggle_btn_on) span:last-child {
  transform: translate3d(0, 4px, 0);
  top: 18px;}
/* toggle_btn_on */
.toggle_btn_on {
  z-index: 10;
  top: 20px;
  right: 20px;}
.toggle_btn_on span {
  top: 12px;
  background-color: #fff;}
.toggle_btn_on span:first-child {
  transform: rotate(135deg) translate3d(0, 0, 0);}
.toggle_btn_on span:last-child {
  transform: rotate(-135deg) translate3d(0, 0, 0);}
.toggle_btn_on span:nth-child(2) {
  opacity: 0;}
}



/* nav */
header nav ul {
  margin-bottom: 0;
  padding-left: 0;}


/* a-logo */
header .a-logo {
  display: inline-block;
  padding-top: 30px;
  font-size: 45px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;}
@media (max-width: 991px) {
header .a-logo {
  font-size: 20px;
  padding-top: 16px;
  font-weight: bold;}
}
@media (max-width: 767px) {
header .a-logo {
  font-size: 13px;
  padding-top: 21px;}
}


/* menu */
.menu {
  position: relative;}
.menu li {
  list-style: none;}
.menu li a {
  text-decoration: none;
  display: inline-block;
  letter-spacing: 2px;
  text-transform: uppercase;}
.menu li a:hover,
.menu li a.active {
  color: #000;}
@media (max-width: 1199px) {
 .menu li {
  padding-left: 20px;}
}
@media (min-width: 992px) {
.menu .nav {
  display: block;
  padding-top: 27px;}
.menu li {
  display: inline-block;}
.menu li a {
  font-size: 13px;
  padding: 5px 20px;
  border-radius: 2px;
  color: #c3c3bf;}
.menu li a:hover,
.menu li a.active {
  background: #f8e94d;}
}
@media (max-width: 991px) {
 .menu {
  position: fixed; 
  right: 0;
  top: 0;}
.menu:not(.expanded) {
  height: 0;
  right: -20px;}
 .menu.expanded {
  background: #2b2b29;
  width: 270px;
  height: 100vh;
  overflow-y: auto;
  z-index: 10;}
.menu.expanded ul {
    padding-top: 60px;}
.menu li {
  width: 100%;
  visibility: visible;
  opacity: 1;
  padding: 5px 25px;
  transition: .5s;
  transform: rotateY(0deg);}
.menu li.hidden {
    width: 0;
    visibility: hidden;
    opacity: 0;
    transform: rotateY(90deg);}
.menu li a {
  transition: .5s;
  padding-top: 20px;
  display: block;
  font-size: 15px;
  color: #fff;}
.menu li a:hover,
.menu li a.active {
  color: #f7e209;}
}


/* main-div */
.main-div {
  padding-top: 180px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;}
@media (max-width: 991px) {
.main-div {
  padding-top: 60px;}
}

/* section */
section {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 67vh;}
@media (max-width: 767px) {
section {
  min-height: 80vh;}
}



/* home */
#home .content {
  text-align: center;
  color: #161d31;
  padding-top: 50px;}
#home .content h3 {
  padding-top: 10px;
  padding-bottom: 20px;}
#home .content h4 {
  color: #484000;}
#home .content h5 {
  font-size: 25px;}
@media (max-width: 767px) {
#home .content h3 {
  font-size: 22px;}
#home .content h4 {
  font-size: 24px;}
#home .content h5 {
  font-size: 18px;}
}


/* today_result*/
#today_result .empty-data {
  text-align: center;
  padding-top: 50px;}
@media (max-width: 767px) {
#today_result .empty-data h3 {
  font-size: 22px;
  font-weight: bold;}
}


/* login-form */
.login-form {
  padding-top: 50px;
  padding-bottom: 50px;}
.login-form .head h3 {
  letter-spacing: 3px;
  color: #2b2b29;
  font-size: 20px;
  text-transform: uppercase;}
.login-form .body {
  margin-top: 40px;}
.login-form .body .div-col {
  margin-bottom: 10px;}
.login-form .body .div-col input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #e0e3ec;
  padding: 7px 15px;}
.login-form .foot {
  margin-top: 25px;}



/* list-table */
.list-table {
  background: #fff;
  border-radius: 5px;
  font-size: 15px;
  padding: 15px 20px;
  width: 100%;
  margin-top: 15px;}
.list-table table {
  width: 100%;
  color: #343435;}
.list-table table thead {
  text-align: center;}
.list-table table thead h4 span {
  color: #535356;
  font-size: 22px;}
.list-table table tbody tr:hover {
  background: #f4f4f7;}
.list-table table tr th,
.list-table table tr td {
  padding: 10px;
  border: 1px solid #e8ecf1;
  font-weight: bold;}
.list-table table tr td {
  min-width: 140px;}
.list-table tr td span {
  font-weight: normal;}
.list-table tr td .div-col {
  display: inline-block;
  border: 1px solid #d2cccc;
  padding: 2px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 14px;}
.list-table .width-col td .div-col {
  width: 32.7%;}
.list-table .signature-col {
  float: right;
  margin-top: 20px;}
.list-table .signature-col img {
  height: 85px}
.list-table .foot {
  margin-top: 15px;
  margin-bottom: 15px;}
.list-table .foot .a-btn {
  white-space: break-spaces;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 6px 10px;}
@media (max-width: 991px) {
.list-table .width-col td .div-col {
  width: 49.3%;}
} 
@media (max-width: 767px) {
.list-table {
  font-size: 12px;}
.list-table table thead h3 {
  font-size: 20px;}
.list-table table thead h4 {
  font-size: 18px;}
.list-table table thead h4 span {
  font-size: 16px;}
.list-table .width-col td .div-col {
  width: 97%;}
}
@media (max-width: 575px) {
.list-table table tr td {
  min-width: 90px;}
}


/* footer */
footer {
  background: #484846;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;}
footer p {
  color: #a1a1a9;
  letter-spacing: 2px;
  font-size: 12px;
  margin-bottom: 0;}
footer p a:not([href]):not([tabindex]) {
  color: #ffffff;
  cursor: pointer;}
@media (max-width: 991px) {
footer {
  padding-top: 15px;
  padding-bottom: 15px;}
}
@media (max-width: 767px) {
footer p {
  font-size: 10px;}
}